Bouncer__Password=your-login-password

Graph__TenantId=your-azure-tenant-id
Graph__ClientId=your-azure-app-client-id
Graph__ClientSecret=your-azure-app-client-secret
Graph__UserId=your-email@yourdomain.com
